<div class="wrapper row3 ">
    <!-- <div class="bgded overlay" style="background-image:url('../assets/img/MHC.jpg')"> -->
    <div>
        <main class="hoc container clear">
            <section id="introblocks">
                <ul class="nospace group btmspace-80 elements elements-four">
                    <li class="one_quarter">
                        <div routerLink="/accreg">
                            <article><a><i class="fa fa-optin-monster" aria-hidden="true"></i></a>
                                <h6 class="heading">Acc Reg</h6>
                                <p>Các acc Reg giá rẻ đảm bảo Trắng thông tin.</p>
                            </article>
                        </div>
                    </li>
                    <li class="one_quarter">
                        <div routerLink="/synthetic">
                            <article><a href="#"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                                <h6 class="heading">Acc Tổng hợp</h6>
                                <p>các Acc Nhiều trang phục tổng hợp nhiều tướng.</p>
                            </article>
                        </div>
                    </li>
                    <li class="one_quarter">
                        <div routerLink="/acclone">
                            <article><a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a>
                                <h6 class="heading">Acc clone</h6>
                                <p>Acc ảo trắng thông tin để Làm sự kiện chung sức đều lv15.</p>
                            </article>
                        </div>
                    </li>
                    <li class="one_quarter">
                        <div routerLink="/accrandom">
                            <article><a href="#"><i class="fa fa-slideshare" aria-hidden="true"></i></a>
                                <h6 class="heading">Acc ramdom</h6>
                                <p>Hãy thử ngay vận may của bạn với 12.000Vnd.</p>
                            </article>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
    </div>