<div class="bgded overlay row4">
    <footer id="footer" class="hoc clear">
        <div class="one_quarter first">
            <img class="logoname" src="../assets/img/logo.png" alt="Ảnh Logo">
            <p><a></a></p>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-css3" aria-hidden="true"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-html5" aria-hidden="true"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-code" aria-hidden="true"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a class="faicon-vk" href="#"><i class="fa fa-file-code-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">web</h6>
            <ul class="nospace linklist">
                <li><a href="#">Nguyễn xuân Huy</a></li>
                <li><a href="#">..........</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Dũng Sĩ Diệt Gamer.</h6>
            <ul class="nospace clear latestimg">
                <li><a class="imgover" href="#"><img src="../assets/images/demo/smartphone.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="../assets/images/demo/swordsman.png" alt=""></a></li>
                <li><a class="imgover" href="#"><img src="../assets/images/demo/gamer.png" alt=""></a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading">Uy tín tạo thương hiệu</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <p class="nospace btmspace-10"><a href="#">Trải nghiệm của bạn làm niềm
                                vui của tôi.</a></p>
                        <time class="block font-xs" datetime="2023-17-7">Sunday, 16<sup>th</sup> July 2023</time>
                    </article>
                </li>
                <li>
                    <article>
                        <p class="nospace btmspace-10"><a href="#">Hãy cố gắng để thành công Tương lai trong tay
                                bạn.</a></p>
                        <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
                    </article>
                </li>
            </ul>
        </div>
    </footer>
</div>

<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <p class="fl_left">Copyright &copy; 2023 / 7 / 16 - <a href="#">Huy xuân</a></p>
        <p class="fl_right">Lời chăn chối cuối cùng: <a target="_blank" href="#" title="Free Website Templates"
                style="text-decoration: none;">Don’t
                judge a book by its cove</a></p>

    </div>
</div>