   hr {
       border: 0;
       height: 2px;
       margin: 15px 0;
       animation: blink 1s infinite alternate;
   }

   @keyframes blink {
       from {
           background-color: #5ed121;
       }

       to {
           background-color: rgb(240, 65, 7);
       }
   }

   .card-text {
       color: white;
   }