.search-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}

.search-icon {
    font-size: 16px;
    margin-right: 4px;
}

.search-select {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.search-container {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    width: 205px;
    margin-right: 2px;
    margin-left: 10px;

}

.search-icon {
    font-size: 16px;
    margin-right: 4px;
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    width: 135px;
}